/.idea
/.gradle
/loopview/.gitignore
/loopview/loopview.iml
/mylibrary/mylibrary.iml
/mylibrary/.gitignore
/simplezxing/simplezxing.iml
/akhalteke-Android-shipper.iml
/build
/loopview/build
/mylibrary/build
*.apk
*.json
*.java
*.xml
*.jar
*.properties
*.class
*.png
*.ogg
*.2
*.txt
/simplezxing/build
/simplezxing/build/intermediates/packaged_res/debug/values/*.xml
/simplezxing/build/intermediates/packaged_res/debug/layout/*.xml
/update-app/src/main/java
/update-app/src/main/res
/update-app/src/main/AndroidManifest.xml
/update-app/src/main/*
/update-app/src/main/*.xml
/update-app/*.pro
*.iml
/app/src/main/res/mipmap-hdpi/ic_updata_recipt_delete.png
/app/src/main/res/mipmap-mdpi/ic_updata_recipt_delete.png
/app/src/main/res/mipmap-xhdpi/ic_updata_recipt_delete.png
/app/src/main/res/mipmap-xxhdpi/ic_updata_recipt_delete.png
/app/src/main/res/mipmap-xxxhdpi/ic_updata_recipt_delete.png
